# enviroment file
.env

# for ci
ci

# bin
bin/seat-db_data/data.sql

# caddy
caddy/logs/*
caddy/ssl/*
# caddy binary assets
caddy/www/assets/*

# gallery
gallery/images/*

# v2ray
v2ray/logs/*

# upload folder only
!.gitkeep
