# enviroment file
.env

# for ci
ci

# bin
bin/seat-db_data/data.sql

# caddy
caddy/logs/*
caddy/ssl/*
# caddy binary assets
caddy/www/assets/*

# gallery
gallery/images/*

# v2ray
v2ray/logs/*
v2ray/info/*
!v2ray/info/start.sh
!v2ray/info/json2vmess.py
!v2ray/info/index.js

# upload folder only
!.gitkeep
