# enviroment file
.env
# upload folder only
!.gitkeep

# whu-library-seat
# ssl certificates
nginx/ssl/*
# binary
nginx/assets/*
!nginx/assets/404/
# logs
nginx/logs/*

# tools
tools/seat-db_data/data.sql