{
  "log": {
    "loglevel": "warning",
    "access": "/var/log/v2ray/access.log",
	  "error": "/var/log/v2ray/error.log"
  },
  "inbounds": [
    {
      "port": 80,
      "protocol": "vmess",
      "settings": {
        "clients": [{CLIENTS_TEMPLATE}]
      },
      "streamSettings": {
        "network": "ws",
        "wsSettings": {
          "path": "/ws"
        }
      },
      "tlsSettings": {
        "allowInsecure": false
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "settings": {}
    }
  ]
}
